/* src/styles/Checkbox.css */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-container input[type='checkbox'] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
